/build/
/cmake-build*/
/out/
/.vs/
/.idea/
/.cache/
/CMakeUserPresets.json
compile_commands.json
*.user
*.suo
*.sdf
*.opensdf
Thumbs.db
.DS_Store
/third_party/JUCE/
/third_party/asiosdk/
/dist/
*.obj
